* {

}

header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid;
    border-width: 3px;
    background-image: url("https://i.pinimg.com/736x/15/99/e6/1599e6af979ce5cddf1b0d8d9b3dafa0.jpg");
    background-size: cover; 
    width: 98%;
    top: 8px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}
  
a:hover {
    color: red;
}

.header-nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

.about-me-section {
    margin-top: 130px;
}

.about-me-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-paragraph {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.about-me-photo {
    width: 200px;
}

.about-me-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-samples-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-samples-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-me-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-me-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
}

footer {
    text-align: center;
    font-size: 10px;
}

/* changes size of professional photo when screen size changes */
@media screen and (min-width: 1200px) {
    .about-me-photo {
        width: 300px;
    }
  }

@media screen and (max-width: 1200px) {
    .about-me-photo {
        width: 250px;
    }
  }

@media screen and (max-width: 1024px) {
    .about-me-photo {
        width: 200px;
    }
  }

@media screen and (max-width: 768px) {
    .about-me-photo {
        width: 150px;
    }
  }

@media screen and (max-width: 480px) {
    .about-me-photo {
        font-size: 16px;
    }
  }

/* changes size of nav links */
@media screen and (min-width: 1200px) {
    .header-nav-list {
        font-size: 32px;
    }
  }

@media screen and (max-width: 1200px) {
    .header-nav-list {
        font-size: 28px;
    }
  }

@media screen and (max-width: 1024px) {
    .header-nav-list {
        font-size: 24px;
    }
  }

@media screen and (max-width: 768px) {
    .header-nav-list {
        font-size: 20px;
    }
  }

@media screen and (max-width: 480px) {
    .header-nav-list {
        font-size: 16px;
    }
  }

/* changes size of header title */
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 40px;
    }
  }

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 36px;
    }
  }

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 32px;
    }
  }

@media screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
  }

@media screen and (max-width: 480px) {
    h1 {
        font-size: 24px;
    }
  }