* {

}

header {
    /* position: fixed; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid;
    border-width: 3px;
    background-image: url("https://i.pinimg.com/736x/15/99/e6/1599e6af979ce5cddf1b0d8d9b3dafa0.jpg");
    background-size: cover; 
    width: 100%;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}
  
a:hover {
    color: red;
}



.header-title {
    font-size: 30px;
    font-weight: bold;
}

.header-nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    font-size: 24px;
    font-weight: bold;
}

.about-me-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-paragraph {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.about-me-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-samples-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-samples-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-me-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-me-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
}

footer {
    text-align: center;
    font-size: 10px;
}